@font-face {
    font-family: "General Sans Light";
    src: url('gensans/generalsans-light-webfont.woff')  format('woff'),
    url('gensans/generalsans-light-webfont.woff2') format('woff2');
}
@font-face {
    font-family: "General Sans Medium";
    src: url('gensans/generalsans-medium-webfont.woff') format('woff'),
    url('gensans/generalsans-medium-webfont.woff2') format('woff2');
}
@font-face {
    font-family: "General Sans semibold";
    src: url('gensans/generalsans-semibold-webfont.woff') format('woff'),
    url('gensans/generalsans-semibold-webfont.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "General Sans Medium", serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
/* #minicircle{
    mix-blend-mode: difference;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #fff;
    z-index: 999999;
    border-radius: 50%;
    transform: translateX(-30px) translateY(-30px);
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity 5s ease-in-out;
} */

.boxes{
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}
.r{float: right;}

.boxelem{
    transform: translateY(200%);
}
.boxelema{
    animation: upa 1.3s ease;
}
@keyframes upa {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0%;
    }
    100%{
        opacity: 1;
}
}

#container {
    background-color: black;
    color: white;
}

#hero {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 3vw;
}

#navbar a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: 900;
    font-family: "General Sans";
}

#navbar .contact {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 75ms ease-in-out;
}
#navbar .contact:hover {
    color: #ff5f1f;
}

/*//////////////////////////////////*/
#torso {
    /*background-color: #ff5f1f;*/
    line-height: 1;
    margin-top: 70px;
}


/* #torso .h2hi {
   color: white;
   margin-inline: 52px;
   font-size: 4vw;
} */


#torso h1 {
    font-family: "General Sans Medium", serif;
    margin-left: 3vw;
    opacity: .6;
    line-height: .8;
    font-size: 10vw;
    text-transform: uppercase;;
}
#block{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;;
    line-height: 1.5;
}

#torso .engg {
    margin-left: 20vw;
}

#torso h4 {
    margin: 10px;
    margin-right: 0px;
    font-size: 17px;
    font-family: "General Sans Light", serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cool {
    font-weight: 900;
    font-size: 17px;
}

/*availability*/
#availability {
    margin-top: 200px;
    text-align: right;
    margin-right: 5vh;
}

/*footer*/
.footer {
    position: absolute;
    bottom: 5vh;
    font-size: 15px;
    width: 58vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-inline: 3vw;
}

/* .skills {
    float: left;
    margin-inline: 3vw;
} */

/* .projects {
    float: right;
} */

.und::after {
    content: "";
    display: block;
    height: 1px;
    background: #fff;
    transition: 100ms ease-in-out;
    transform: scale(0);
}

.und:hover::after {
    transform: scale(1);
}
.und{transition: .3s ease;}
.und:hover{
    transform: scale(110%);
}
.links {
    text-decoration: none;
    color: white;
}







#projectsec{
    padding-top:150px ;
    border-bottom: .5px solid ;
    margin: 3vw;
    margin-bottom: 0;
    margin-right: 11vw;
}

.projex{
    position: relative;
    cursor: pointer;
    display: flex;
    border-top: .5px solid ;
    padding-block: 4vw;
    align-items: center;
}
.projex .projvis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
}
.projex .projvis h1{
    font-size: 6vw;
    opacity: 0.7;
    transition: .4s ease-out;
}
.micro:hover > .projvis h1{
    padding-left: 15vw;
    opacity: 0.1;
}
.aiml:hover > .projvis  h1{
    padding-left: 15vw;
    opacity: 0.1;
}
.projex h6{
    font-size: 15px;
}


#projectsec .projex .hovered{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: #ff5f1f; */
}
.projex .hovered h5{
    opacity: 0;
    /* background-color: #ff5f1f; */
    font-size: 3vw;
    transition: .3s ease-in;
    position: absolute;
    text-transform: uppercase;
}

.aiml:hover  .hovered h5{
    opacity: 1;
}
.micro:hover .hovered h5{
    opacity: 1;
}


.projex .details{
    width: 40vw;
    font-size: 1.2vw;
    font-family: "General Sans Light";
    /* position: absolute; */
    transition: .5s ease;
    opacity: 0;
    transform: translateX(20vw);
}
.projex .details ul{
    list-style: none;;
}
.projex .details ul li{
    padding: 1vw;
}
.micro:hover .details{
    opacity: 1;
    transform: translateX(35vw);
}
.aiml:hover .details{
    opacity: 1;
    transform: translateX(35vw);
}
.projex .hovered .details ul li span{
    text-transform: uppercase;
    font-size: 1.2vw;
    color:coral
}










#aboutsec{
    margin-top: 15vw;
    width: 100%;
    padding: 10vw;
    padding-right: 18vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
    gap: 70px;
}

#aboutsec .aboutp{
    line-height: 1.6;
    width: 30rem;
}
 #aboutsec h3{
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom:10px
}
#aboutsec p{
    font-size: 18px;
    font-weight: 900;
    font-family: "General Sans light";
    margin-bottom: 20px;
}
#aboutsec img{
    width: 230px;
    height: 230px;;
    border-radius: 50%;
    float: left;
}
#aboutsec .aboutp a{
    text-decoration: none;
    font-family: "General Sans light";
    color: #fff;
    border: 1px solid;
    border-radius: 20px;
    padding:5px 20px;
    transition: .3s ease;
}
#aboutsec .aboutp a:hover{
    background-color: white;
    color: black;
}
#resume{
    background-color: black;
    text-transform: uppercase;
    padding-top: 10vh;
    padding-inline: 3vw;
    padding-bottom: 100px;
    line-height: 1.5;
}
#resume h5{
    opacity: 0.6;
}
#resume a{
    color:#fff;
    font-size:17px ;
}
#resume .res_und{
    width: fit-content;
}
#resume a::after{
    content: "";
    display: block;
    height: 1px;
    background: #fff;
    transition: 100ms ease-in-out;
    transform: scale(0);
}
#resume a:hover::after{
    transform: scale(1);
}
#bottom{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px 3vw;
}
#bottom .left{
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    font-size: 20px;
}
#bottom .right{
    display: flex;
    gap: 46px;
}
#bottom a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
#bottom .righta .hr{
    display: none;
}






#skillsec{
    background-color: black;
    padding-left: 3vw;
    padding-right: 11vw;
    text-transform: capitalize;
    font-family: "General sans light" ;
    font-size: 2vw;
}

.blockskill{
    border-bottom: .5px  solid;
    padding-block: 4.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#skillsec .blockskill h2{
    font-size: 5vw;
    opacity: 0.7;
    transition: .5s ease;
}
#skillsec .blockskill ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: .5s ease;
    gap: 1.5vw;
    align-items: center;
}
#skillsec .blockskill ul li{
    list-style: none;
    transition: .5s ease ;
    font-family: "General sans light";
    overflow: hidden;
    text-align: center;
}
#skillsec .blockskill ul li:hover{
    transform: scale(110%);
}

#skillsec .blockskill ul li h4{
    transform: translateY(100%);
    text-transform: uppercase;
    opacity: 0;
    transition: .3s ease;
    font-size: 1vw;
}
#skillsec ul li:hover > h4{
    transform: translateY(0);
    opacity: .5;
}






@media (max-width: 1200px) {

    #aboutsec{
        padding-inline: 5vw;
        justify-content: center;
        text-align: center;;
    }
    #aboutsec .aboutp{
        width: 50rem;
        line-height: 1.5;
    }
    #aboutsec .aboutp p{
        /* text-align: justify; */
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    #hero .footer{
        width: 100%;
    }
    #torso{
        text-align: center;
        justify-content: center;
    }
    #torso h1{
        margin: 0;
        font-size: 13vw;
    }
    #torso .boxes{
        width: 100%;
    }
    #torso .engg{
        margin: 0;
    }
    #block{
        width: 100%;
    }
    #block h4{
        justify-content: center;
        display: block;
    }
    #availability{
        margin-right: 2vh;
    }
    .und::after {
    display: none;
    }
    .und{
        transition: .3s ease;
    }
    .und:hover{
    transform: scale(100%);
    }


    #resume{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 25vw;
        padding-inline: 5vw;
        padding-bottom: 0;
    }


    #bottom{
        display: block;
        padding-inline: 5vw;
        padding-block: 0;
    }
    #bottom .righta{
        display: block;
    }
    #bottom .right{
        gap: 0;
        justify-content: space-between;
        padding-block: 5vw;
        border: 4px white;
        font-size: 4vw;
    }
    #bottom .righta .hr {
        display: block;
        background-color: #fff;
        opacity: 0.5;
    }
    #bottom .left{
        justify-content: space-between;
        padding-block: 5vw;
        font-size: 4.3vw;
    }


    /************************/
    #projectsec{
        border-bottom: .5px solid ;
        margin: 5vw;
        margin-bottom: 0;
        margin-top: 25vw ;
        padding-top: 0;
    }

    .projex{
        position: relative;
        cursor: pointer;
        display: block;
        border-top: .5px solid ;
        padding-block: 4vw;
        align-items: center;
    }
    .projex .projvis{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }
    .projex .projvis h1{
        /* background-color: #ff5f1f; */
        width:100%;
        font-size: 9vw;
        opacity: 0.7;
        transition: .4s ease-out;
    }
    .micro:hover > .projvis h1{
        padding-left: 0vw;
        opacity: .7;
    }
    .aiml:hover > .projvis  h1{
        padding-left: 0vw;
        opacity: .7;
    }
    .projex h6{
        font-size: 15px;
        display: none;
    }


    #projectsec .projex .hovered{
        /* background-color: #ff5f1f; */
        position: relative;
        display: block;
        align-items: start;
        width: 100%;
    }
    .projex .hovered h5{
        /* text-align: center; */
        /* background-color: #ff5f1f; */
        opacity: .7;
        font-size: 2.5vw;
        position: relative;
    }


    .projex .details{
        width: 100%;
        font-size: 3vw;
        font-family: "General Sans Light";
        transition: .5s ease;
        opacity: 1;
        transform: translateX(0vw);
    }
    .projex .details ul{
        list-style: none;
        padding-block: 3vw;
        padding-inline: 0;
        text-align: justify;
    }
    .projex .details ul li{
        font-family: "General sans light";
        padding-block: 2vw;
        opacity: 0.7;
    }
    .micro:hover .details{
        opacity: 1;
        transform: translateX(0vw);
    }
    .aiml:hover .details{
        opacity: 1;
        transform: translateX(0vw);
    }
    .projex .hovered .details ul li span{
        text-transform: uppercase;
        font-size: 3vw;
        color:coral;
    }

    /*****************************************/

    #skillsec{
        padding-inline: 5vw;
        text-transform: capitalize;
        font-family: "General sans light" ;
        font-size: 3vw;
    }
    .blockskill{
        border-bottom: .5px  solid;
        padding-block: 4.5vw;
        display: block;
        align-items: center;
    }
    #skillsec .blockskill h2{
        font-size: 9vw;
        text-align: center;
        opacity: 0.7;
        transition: .5s ease;
    }
    #skillsec .blockskill ul{
        padding-block: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transition: .5s ease;
        gap: 1.5vw;
        align-items: center;
    }
    #skillsec ul li{
        list-style: none;
        transition: .5s ease ;
        font-family: "General sans light";
        overflow: hidden;
        text-align: center;
    }
    #skillsec .blockskill ul li:hover{
        transform: scale(100%);
    }
    #skillsec .blockskill ul h4{
        display: none;
    }

}
